@media only screen and (max-width:320px){
    .banner{
        width:320
    }
}

@media only screen and (max-width:768px){
    .banner{
        width:768
    }
}

@media only screen and (max-width:992px){
    .banner{
        width: 992px;
    }
}

